.terraform/
**/.terraform/
terraform/backend.tf

terraform.tfstate
terraform.tfstate.backup
**/terraform.tfstate
**/terraform.tfstate.backup
*.tfvars
**/*.tfvars
!*.tfvars.example
!**/*.tfvars.example
venv/
__pycache__/
.DS_Store
.vault_pass
.ansible/

scripts/upmon.local.env
**/upmon.local.env
